version: 2.1

jobs:
  build:

    # Dockerコンテナを利用する
    docker:

      # 後続に記載するstepsを実行するメインとなるDockerコンテナを指定する
      - image: circleci/python:3.6.1

    working_directory: https://github.com/tk-watanabe913/test.git

    steps:
      # リポジトリのコードを working_directory にチェックアウト
      - checkout

      # テストの実行
      - run:
          name: run tests
          command: |
            python test/hello_world_test.py
